*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{

    --border: 1px solid #585858;
    --back: rgba(59, 65, 117, 0.75);
    --color: #000;
    --color-boton: rgb(175, 190, 192);
    --backtabla: rgb(173, 166, 166);
    --color-precio: #ebe2e2;
    --box-shadow: 0px 0px 5px rgba(0, 0, 0, .75);

}
 

body{
    font-family: 'Gelasio', serif;
}
 h3{
     font-size: 42px;
     text-align: center;
     margin-bottom: 20px;

 }
 h3+p{
     color: #374e9;
     text-align: center;
 }
 /* el punto contenedor aca centro documente y que no me quede pegado*/
.contenedor{
padding: 80px 0;
max-width: 1000px;  /*mi pantalla es de 1000 px*/
width: 90%;
margin: auto; /*para que me centre*/
overflow: hidden; /*para que no se me desvorde la imagen*/

}

header{
    height: 700px;
    width: 100%;
    background: #000428;  /*respaldo para navegadores antiguos */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}
.menu-header{

    cursor: pointer;
    position: fixed;/*menu en la parte superior*/
    top: 20px;
    right: 60px;
    height: 100px;
    width: 100px;
    background: #f7fafa;
    display: flex;
    justify-content: center;
    align-items: center;/*aca alineo los elementos*/
    border-radius: 100%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6); 
    z-index: 20;
    transform: scale(1);
    transition: transform .2s;
    animation:escalar .5s 5 alternate;

}
.menu-header img{
    width: 70%;
    height: 70%;
}
.enlaces-header{

    position: fixed;
    top: 0;
    
    width: 100%;
    height: 100%;
    display: flex;
    background: #000428;  /*respaldo para navegadores antiguos */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
z-index: 10;
flex-direction: column;
left: 0;
align-items: center;
justify-content: space-evenly;
clip-path: circle(0% at 100%  0%);
transition: clip-path 0.6s;

}

.extra-clase{
    clip-path: circle(100% at 100%  100%);

}
.enlaces-header a{
    text-decoration: none;
    color: rgb(199, 186, 186);
}
.enlaces-header a:hover{
    text-decoration: underline;   
}
.menu-header:active{
    transform: scale(0.9);
}
@keyframes escalar{
    0%{
        transform: scale(0.1)
    }
}
.contenido-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 550px;
    margin: auto;
    color: rgb(236, 240, 6);
    overflow: hidden;
}
.contenido-header .textos-header{
    width: 34%;
    opacity: 1;
}

.contenido-header h1{

font-size: 60px;
}
.contenido-header h2{

    font-size: 25px;
}
.textos-header>a{
    
    display: inline-block;
    color: white;
    border: 1px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 400;
    margin-top: 20px;
    padding: 5px 2px;
    width: 120px;
    text-align: center;


}
.contenido-header .img-header{

    width: 115%;;
}

.contenido-header .img-header img{
    width: 100%;
}

.acerca-de{

    padding: 40px;
}

.contenedor-acerca-de{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.card-acerca{
width: 30%;
background: rgb(216, 211, 211);
border-radius:3px;/*trabajo los bordes de la caja*/
padding: 20px 10px;/*esto lo hago para hacer mas grande la caja si lo deseo*/
margin-top: 40px;/*Separo un poco el texto*/


}
.card-acerca i{
    display: block;
    font-size: 50px;/*tamaño de mis iconos de Diseño de fuentes*/
    color: navy;
    margin-bottom: 15px;
}
.card-acerca h4{
    margin-bottom: 15px;
}
.card-acerca p{

    margin-bottom: 15px;
    font-weight: 400;
}

.servicio-cont{

    background:#f2f2f2 ; 
}
.servico{
    display: flex;
    width: 90%;
    padding: 80px 0;
    justify-content: space-around;
    margin-bottom: auto;
    flex-wrap: wrap;
}
.img-servicio{
    width: 50%;
}

.img-servicio img{
width: 100%;
vertical-align: top;

}
.contenido-servicio{

    width: 50%;
    padding-left: 30px;
}
.contenido-servicio h3{
    text-align: center;
}
.contenido-servicio p{

    text-align: justify;
    margin-bottom: 40px;
    width: 90%;

}
.contenido-servicio ul{
    padding-left: 10px;

}
.contenido-servicio ul li{

    list-style: none;
    margin-bottom: 20px;
    padding-bottom: 10px;

}
.galeria{
display: flex;
margin-top: 40px;
width: 100%;
height: auto;
flex-wrap: wrap;
justify-content: space-around;
}

.galeria-img{
 width: 30%;
 overflow: hidden;
 position:relative;
 margin-bottom: 30px;
 border-radius: 118px;
 box-shadow: 0px 0px 5px rgba(0, 0, 0, .75);

}/*Aca trato de posicionar las imagens una 
al lado de la otra pero no tuve resultado 
profesor hice lo mejor que pude*/
/*Si pude a ultima hora, tenia un error en la colocacion del Section en el codigo :-)*/

.galeria-img img{
   object-fit: cover;
    width: 100% !important;
    height: 250px !important;
    vertical-align: top;
    transform: scale(1);
    transition: transform .6s;
}
.galeria-img img:hover{
    transform: scale(1.3);
}
.extra-galeria{
    position: absolute;
    border-radius: 118px;
    top: 0;
    background: rgba(0,0,255,0.2);
    width: 100%;
    height: 100%;
    transform: translate(100%, -100%);
    transition: transform .6s;

}
.galeria-img:hover .extra-galeria{
    transform: translate(0);
}
/*Letra de mis 6 imagenes*/
.extra-galeria p{
color: rgb(240, 240, 247);
width: 95%;
margin: 20px auto;
font-weight: 400 ;
text-align: center;

}
/*Empiezo a darle forma a mis tablas de precios
una al lado del la otra*/
.precios-tabla{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.tabla{
  background: var(--backtabla);  
  width: 25%;
  text-align: center;
  border-radius: 40px;
  padding: 40px 0;
  box-shadow: var(--box-shadow);
  color: var(--color) ;
}

.tabla h5{
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
}
.tabla .price{
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--color-precio);
}
ul{
    list-style: none;
}
.tabla span{

    font-size: 30px;  
}
.tabla.ul{

    list-style: none;
}
.tabla ul li{
    color: (var--color);
    padding: 20px;
    margin-bottom: 20px;
    border-bottom:  var(--border);

}
.tabla>a{
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    width: 140px;
    padding: 10px 0;
    color:var(--color-boton);
    background: var(--back);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}
.tabla:hover{
    cursor: pointer;
    --backtabla:#f2f2f2;
    --color:#004e92;
}
footer{
    padding: 20px 0;
    background:  #000428;  /*respaldo para navegadores antiguos */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   width: 100%;
   display: flex;
   justify-content: space-around;
   margin: auto;
   text-align: center;
}
footer h3{
    font-size: 30px;
    margin-bottom: 10px;

}
footer i{
    font-size: 30px;
    padding: 14px;
    background: rgba(103, 128, 230, 0.301);
    border-radius: 90%;
    text-align: center;
}
@media screen and(max-width:800px){
    header{
        height: auto;

    }
    .contenido-header{

        flex-wrap: wrap;
        height: 900px;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100px;
    }
    .contenido-header .textos-header{

        width: 80%;
    }
    .contenido-header .img-header{
        width: 80%;
    }
    .contenedor-acerca-de{
        justify-content: center;
        align-items: center;
    }
    .card-acerca{
        width: 70%;
         
        /*Aca terminmo mi proyecto Gracias Profesor Warrent*/
    }
   
}















 


